* {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: wheat;
}

h1 {
  font-size: 50px;
}

#control {
  height: fit-content;
  width: fit-content;
  display: inline-flex;
  margin-top: 180px;
}

button {
  padding: 15px;
  margin: 10px;
  border: none;
  background-color: steelblue;
  border-radius: 15px;
  color: whitesmoke;
  font-size: larger;
  box-shadow: 3px 3px 5px black;
}

button:hover{
  cursor: pointer;
}

#timer {
  padding-bottom: 100px;
  width: fit-content;
}

#session-label {
  position: absolute;
  left: 34%;
}

#break-label {
  position: absolute;
  right: 35%;
}

#session-length {
  font-weight: 900;
  font-size: 40px;
}

#second-session {
  font-weight: bold;
  font-size: 20px;
}

#break-length {
  font-weight: 900;
  font-size: 40px;
}

#second-break {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  body{
    background-color: aqua;
  }
}